@import "../libs/bootstrap5/bootstrap-reboot.min.css";
@import "../libs/bootstrap5/bootstrap-grid.min.css";
@import "../fonts/icomoon/style.css";
@import "components/header.css";
@import "components/navbar.css";
@import "components/section.css";
@import "components/other.css";
@import "components/boostrap-skins.css";
@import "components/button.css";
@import "components/footer.css";
.font1{
	font-family: 'Playfair Display', serif !important;
}

.font2{
	font-family: 'Raleway', sans-serif !important;
}

.font3{
	font-family: 'Roboto', sans-serif !important;
}

.text-accent{
	color: #d4c17f !important;  /*accent color for the whole white */
}

.posr{
	position: relative !important;
}

.mb-50{
	margin-bottom: 50px !important;
}
p{
	line-height: 24px;
	margin-bottom: 0;
}

h1{
	font-family: 'Playfair Display', serif !important;
	font-size: 48px;
	line-height: 64px;
	font-weight: 700;
	color: #D4C17F;
}

h2{
	font-size: 36px;
	font-weight: 700;
	margin-bottom: 50px;
	color: #D4C17F;
	font-family: 'Playfair Display', serif;
}

a:hover{
	color: #D4C17F;
}

img{
	width: 100%;
}

.link_unstyled{
	color:#fff;
	text-decoration: none;
}

.fz13{
	font-size: 13px !important;
}
.d-block{
	display: block !important;
}
.text-center{
	text-align: center;
}

body{
	font-family: 'Raleway', sans-serif;
	color: #fff; /*for the mobile version (from Galaxy Fold) */
	font-size: 16px;
	min-width: 280px;
	background-color: #242B33;
	overflow-x: hidden;  /*without scrolling on the x axis*/
}

