.footer{
	background-color: #2D343C;
	padding: 60px 0;
}

.footer ul{
	padding-left: 0;
	padding-bottom: 0;
	list-style-type: none;
}

.footer ul li{
	margin-bottom: 15px;
	font-size: 14px;
	letter-spacing: 0.05em;
}

.footer ul li:last-child{
	margin-bottom: 0;
}

.footer ul li a{
	color: #fff;
	text-decoration: none;
	transition: all .09s ease-out;
	
}

.footer ul li a:hover{
	color: #D4C17F;
	text-decoration: none;
	
}

.footer_contacts li a{
	font-weight: 700;
	color: #D4C17F !important;
}

.footer_social [class*="icon-"]:before{
	font-size: 20px;
	transition: all .09s ease-out;
}

.footer_social a i:hover[class*="icon-"]:before{
	color: #D4C17F;
}