.navbar{
	position: fixed; /* fixed , stays in place when scrolling*/
	width: 100%;
	top: 0;
	z-index: 999; /* so that the navbar is above all the elements*/
	padding: 30px 0;
}

.navbar .container{
	display: flex;
	justify-content: space-between; /*to push on different sides */
	align-items: center;
}

.navbar_menu{
	padding-left: 0;
	margin-bottom: 0;
	list-style-type: none;
}

.navbar_menu li{
	display: inline-block;
}

.navbar_menu-link{
	font-style: 14px;
	color: #fff;
	text-decoration: none;
	line-height: 16px;		/*{*/
	letter-spacing: 0.05em;/*between letter distance }*/
	transition: all .09s ease-out;
	padding: 20px;
}

