.section{
	position: relative;
	padding: 180px 0;
}

.section_title{
	font-size: 36px;
	font-weight: 700;
	color: #D4C17F;
	padding-bottom: 100px;
	font-family: 'Playfair Display', serif;
}

.section_number{
	position: absolute;
	top: 0;
	left: 258px;
	font-family: 'Playfair Display', serif;
	font-weight: 700;
	opacity: .02;/*transparency of the Roman numeral*/
	font-size: 400px;
	line-height: 1;
	z-index: -1; /* so that the Roman numeral does not overlap the photo*/
}

.section_number_right{
	right: 258px;
	left: unset;
}

#facts{
	padding: 120px 0;
}

#our_rooms{
	padding-top: 0;
}